@media (min-width: 1200px) {
  .col-lg-05, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,.col-lg-105 .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-05{
    width: 4%;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-105{
    width: 87.5;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-05, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-105, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-05{
    width: 4%;
  }
  .col-md-1 {
    width: 8%;
  }
  .col-md-2 {
    width: 16%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33%;
  }
  .col-md-5 {
    width: 41%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58%;
  }
  .col-md-8 {
    width: 66%;
  }
  .col-md-9 {
    width: 74%;
  }
  .col-md-10 {
    width: 83%;
  }
  .col-md-105{
    width: 87.5%
  }
  .col-md-11 {
    width: 91%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/*small width devices*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-0, .col-sm-05, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-105, .col-sm-11, .col-sm-12 {
    float: left;
    border: 1px solid green;
  }
  .col-sm-0{
    width: 0%;
  }
  .col-sm-05{
    width: 4%;
  }
  .col-sm-1 {
    width: 8%;
  }
  .col-sm-2 {
    width: 16%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33%;
  }
  .col-sm-5 {
    width: 41%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58%;
  }
  .col-sm-8 {
    width: 66%;
  }
  .col-sm-9 {
    width: 74%;
  }
  .col-sm-10 {
    width: 83%;
  }
  .cos-sm-105{
    width: 87.5%
  }
  .col-sm-11 {
    width: 91%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
/* extra small devices*/
@media (min-width: 0px) and (max-width: 767px) {
  .col-xs-0, .col-xs-05, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-105, .col-xs-11, .col-xs-12 {
    float: left;
    border: 1px solid green;
  }
  .col-xs-0{
    width: 0%;
  }
  .col-xs-05{
    width: 4%;
  }
  .col-xs-1 {
    width: 8%;
  }
  .col-xs-2 {
    width: 16%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33%;
  }
  .col-xs-5 {
    width: 41%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58%;
  }
  .col-xs-8 {
    width: 66%;
  }
  .col-xs-9 {
    width: 74%;
  }
  .col-xs-10 {
    width: 83%;
  }
  .col-xs-105{
    width: 87.5%
  }
  .col-xs-11 {
    width: 91%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
.apss{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 33px;
  border: 0px;
  color: #003d4d;
}
.apss:hover{
  color: black;
  cursor: context-menu;
}

#apsslogo{
  height: 50px;
  padding: 0px;
  border: 0px;
}
.logo{
  /*width: 50%;*/
  height: 50px;
  padding: 0px;
  border: 1.5px;
  border-right: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;
}
.logo:hover{
  border-color: #66c2ff;
}
#textf{
  height: 50px;
  border: 0px;
}
#textfield{
  position: relative;
  top: 0.5px;
  height: 46.55px;
  width: 80%;
  font-size: 20px;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #809fff;
}
#apssborder{
  border: 1.5px;
  border-style: solid;
  border-radius: 5px;
  border-color: #e6f2ff; 
}
#apssborder:hover{
  border-color: #66c2ff;
}
.m1{
  height: 46px;
  /*padding: 0px;*/
  position: relative;
  top: -2px;
  border: 1.5px;
  border-style: solid;
  border-radius: 5px;
  border-color: #66c2ff;
  background-color: #f2f2f2;
}
.search{
  padding: 0px;
  height: 90%;
}
.signinbutton{
  height: 46px;
  background-color: white;
  border: 0px;
}
#login{
  height: 49px;
  border: 0px;
}
.loginbutton{
  position: relative;
  top: 7px;
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  height: 35px;
  width: 100px;
  box-shadow: 3px 5px grey;
}
.orders{
  background-color: transparent;
  height: 35px;
}
.cart{
  height: 32px;
  width: 32px;
}
#ct{
  width: 100px;
  border: 0px;
}
.ctbutton, .acbutton{
  background-color: transparent;
  border: 0px;
}
.account{
  height: 30px;
  width: 30px;
}
.ctbutton,.acbutton{
  position: relative;
  top: 7px;
/*  border: 1.5px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;*/
  outline: none;
}
/*.orders{
  border: 0px;
}*/
.obutton{
  position: relative;
  top: 7px;
  background-color: transparent;
  height: 39px;
  border: 0px;
  outline: none;
}

@media (min-width: 992px) and (max-width: 1199px)
{
  .apss{
    font-family:  Impact, Charcoal, sans-serif;
    font-size: 25px;
  }
  #apssborder{
    position: relative;
    top: 5px;
  }
  .logo{
    height: 40px;
    position: relative;
    top: 5px;
  }
}
@media (min-width: 862px) and (max-width: 991px){
  .apss{
    font-size: 21.5px;
  }
  #apssborder{
    position: relative;
    top: 6px;
  }
  .logo{
    height: 35px;
    position: relative;
    top: 6px;
  }
}
@media (min-width: 768px) and (max-width: 861px){
  .apss{
    font-size: 20px;
  }
  #apssborder{
    position: relative;
    top: 8px;
  }
  .logo{
    height: 35px;
    position: relative;
    top: 6px;
  }
  .acbutton, .ctbutton, .obutton{
    width: 60px;
    position: relative;
    top: -1px;
  }
  #row{
    height: 52px;
  }
}
@media (min-width: 0px) and (max-width: 767px){
  #row{
    height: 105px;
  }
  #apssborder{
    border: 0px;
  }
}
.halfbar{
  height: 100px;width: 750px; border: 2px; border-style: solid; border-color: #e6f2ff; margin-left: auto;margin-right: auto;background-color: white;
}
#block1, #block2, #block3{
  height: 400px;
  width: 350px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: #e6f2ff;

}
#block1, #block2, #block3{
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) and (max-width: 1199px){
  #block1, #block2, #block3{
  height: 350px;
  width: 306.25px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: #e6f2ff;

}
#block1, #block2, #block3{
  margin-left: auto;
  margin-right: auto;
}
}